spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/jira_mini
    username: postgres
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

server:
  port: 8080

jwt:
  secret: thisIsAStrongSecretKeyForJwtToken2026
  expiration: 864000

